@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;800&display=swap');
@import url("./variables.css");

::after,::before,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(93,185,236,1) 0%, rgba(90,177,236,1) 0%, rgba(179,187,193,1) 0%, rgba(118,192,230,1) 99%, rgba(140,190,217,1) 100%, rgba(140,196,217,1) 100%, rgba(100,205,241,1) 100%, rgba(156,198,174,1) 100%);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    color: var(--white);
}

header{
    height: 10vh;
}


header,main,footer{
    width: 100%;
}

.widgets-weather > section{
    position: relative;
}


.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.title-navbar{
    font-size: .9rem;
    font-weight: 800;
    margin-right: 5px;
}


.searcher{
    width: 55%;
    position: relative;
}

.searcher > input{
    width: 100%;
    outline: none;
    padding: 5px;
    border: none;
    font-size: .7rem;
    border-radius: 5px;
    color: var(--dark-blue);
    font-weight: 500;
}

.searcher > input:hover{
    border: 2px solid var(--soft-blue);
}


.cities-list{
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: -9rem;
    left: 0;
    list-style: none;
    padding: 0;
    background-color: var(--white);
    overflow-y: scroll;
    border-radius: 5px;
    z-index: 1;
}

.cities-list li{
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.cities-list li > a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 400;
    font-size: .9rem;
    padding: 10px;
}
.cities-list li > a:hover{
    background-color: var(--very-dark-blue);
    color: white;
    transition: .5s;
}


.search-button{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: var(--dark-blue);
    cursor: pointer;

}

.widgets-weather{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3vh;
    padding: 1rem;
}

.today-weather-general-info{
    background-color: var(--very-dark-blue);
    grid-column: 1/3;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.widget-totally-info{
    background-color: var(--very-dark-blue);
    border-radius: 5px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: .7rem;
}


.header-weather-general{
    width: 100%;
    flex: 0 0 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--soft-blue);
    font-size: .8rem;
}

.header-weather-general{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content-weather-general{
    flex: 1 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.opacity{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--very-dark-blue-opacity);
    z-index: 2;
}

.modal{
    width: 40%;
    height: 40%;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.loader{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--soft-blue);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img{
    width: 90px;
    height: 90px;
    animation: loader-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loader-animation {
    0%{
        transform: translateY(15%);
    }
    50%{
        transform: translateY(-15%);
    }
    100%{
        transform: translateY(15%);
    }
}


footer{
    width: 100%;
    height: 10vh;
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.d-none{
    display: none;
}

@media(min-width: 765px){
    .searcher{
        width: 30%;
    }

    .widgets-weather{
        grid-template-columns: repeat(3,1fr);
        padding: 1rem 4rem;
    }

    .today-weather-general-info{
        grid-column: 1/4;
        height: 30vh;
    }

    .title-navbar{
        font-size: 1.2rem;
    }

    .searcher > input{
        font-size: .9rem;
    }
}

@media(min-width: 1024px){
    .widgets-weather{
        padding: 1rem 10rem;
    }
}
